<h1>Important Dates of the Future</h1>
<h2>Predicted by tea leaves and some dried up parsley</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @important_dates.each do |important_date| %>
  <tr>
    <td><%= important_date.date %></td>
    <td><%= important_date.name %></td>
    <td><%= link_to 'Show', important_date %></td>
    <td><%= link_to 'Edit', edit_important_date_path(important_date) %></td>
    <td><%= link_to 'Destroy', important_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Important date', new_important_date_path %>
